
body
{
    padding: 10px !important;
}

#header
{
    padding-right: 20px;
    margin-bottom: 10px;
}

#main
{
    min-width: 600px;
    overflow: hidden;
    padding: 10px !important;
}

#searchForm
{
    max-width: 768px;
    margin-bottom: 15px;
}

#inputHolder
{
    padding-right: 20px;
}

#listHolder
{
    margin-top: 15px;
    font-size: 0.9em;
    max-height: 400px;
    overflow: hidden;
    overflow-y: scroll;
}

#listParent
{
    margin-right: 10px;
}

#listParent > .dropdown:first-of-type
{
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

#listParent > .dropdown:first-of-type > button {
    border-top-width: 1px;
}

#listParent > .dropdown:last-of-type
{
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.dropdown > button
{
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
    border-top-width: 0px;
}

#searchSummary
{
    margin-left: 5px;
    font-size: 0.9em;
}


::-webkit-scrollbar-track
{
	background-color: rgb(242, 242, 247);
    border-radius: 10px;
}

::-webkit-scrollbar
{
	width: 8px;
	background-color: #F5F5F5;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb
{
	background-color: rgb(99, 99, 102);
    border-radius: 8px;
}


#versionDropDown {
    text-align: center;
    transform: translate(350px, -5px) !important;
    min-width: 6rem;
    max-height: 250px;
    overflow: hidden;
    overflow-y: scroll;
}